In [23]:
import pandas as pd

In [25]:
df= pd.read_csv(r"C:\Users\SIVARAM\Downloads\ml\titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [27]:
df['Age'] = df['Age'].fillna(df['Age'].median())

In [29]:
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

In [31]:
df['Survived'] = df['Survived'].astype(int)
df['Pclass'] = df['Pclass'].astype(int)

In [35]:
df = df.drop_duplicates()

In [37]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [43]:
cleaned_file_path = "cleaned_titanic.csv"
df.to_csv(cleaned_file_path, index=False)

In [45]:
print("\nData Cleaning Completed.")
print(f"Cleaned dataset saved as: {cleaned_file_path}")

Data Cleaning Completed.
Cleaned dataset saved as: cleaned_titanic.csv

In [47]:
print("\nPreview of Cleaned Data:")
df.head()

Preview of Cleaned Data:

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [1]:
import os
print(os.getcwd())  # Prints the current working directory

C:\Users\SIVARAM